body{
    background-image: url(Desktopoo.png);
    background-size: cover;
    background-repeat: no-repeat;
    
  
}

.space {   
   
    margin-top: 600px;
    margin-left: 1000px;
    height : 5px;  
    width: 5px;
    background-color : #fff;
  }

  .container{
    margin-top: 950px;
    margin-left: 400px;
  }
  
  .container .card {
    position: relative;
    max-width : 300px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 320px;    
  }
  
  
  .container .card .image {
    position : relative;
    width : 260px;
    height : 160px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    /*padding : 10px 15px;*/
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }


  .content button{
    margin-top: 20px;
    height: 50px;
    background-color: rgb(70, 70, 224);
    cursor: pointer;
    border-radius: 10px;
  }

  .content h3{
    font-family: Arial, Helvetica, sans-serif;
  }

  .content a{
    color: #fff;
    
  }